/* HEADER STYLES */

footer {
	bottom: 0;
	z-index: 2;
	padding: 2vw 3vw;

	h2 {
		font-size: 14vw;
		text-align: center;
		font-weight: bold;
		letter-spacing: 2.4vw;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

		text-shadow:
		3px  3px 0 #000,
	   -1px -1px 0 #000,  
		1px -1px 0 #000,
	   -1px  1px 0 #000,
		1px  1px 0 #000;

		&.green {
			color: #00FF00;
		}

		&.black{
			color: #000000;
		}

		&.red{
			color: #FF0000;
		}

		&.blue{
			color: #0000FF;
		}

		&.yellow{
			color: #FFFF00;
		}

		&.purple{
			color: #FF00FF;
		}

		&.turquoise {
			color: #32e7ff;
		}

		&.brown {
			color: #964b00;
		}

		&.pink {
			color: #ff32c8;
		}
	}
}