body {

    margin: 0;
    background-color: #6c757d;
    font-family: sans-serif;
}
#demo-div {

    color: lightgrey;
    border-radius: 0.3rem;
    width: 70%;
    margin: 0 auto;
}

h1 {
    margin-top: 0.5rem;
}

h4 {
    margin-top: 0.66rem; font-size:1.33rem;
}

#demo-div li {
    line-height: 21px;
}

#demo-div ul {
    margin-bottom: 0.66rem;
}

.btn {
    color: black;
    padding: 1em;
    display: block;
    text-align: center;
    font-size: 1.2em;
    background: white;
    text-decoration: none;
    border: solid 4px red;
}

li {
    font-size: 1.5em;
    margin-top: 3em;
    margin-bottom: 3em;
}